<div class="header-search">

    {{ form_start(form,{'attr':{'class':'form-inline'}}) }}
    {{ form_widget(form.motCle,{'attr':{'class': 'ttrbrksearchform', 'placeholder':'Mots-Clés'}}) }}
    {{ form_widget(form.localite,{'attr':{'class': 'ttrbrkselect input-small', 'placeholder':'Localité'}}) }}
    {{ form_widget(form.categorie,{'attr':{'class': 'ttrbrkselect input-small', }}) }}
    {{ form_widget(form.search) }}


    {{ form_end(form) }}

</div><!-- /.header-search -->

