{% extends "index.html.twig" %}

{% block header_top %}

<div class="header-search">
    {{ form_start(form,{'attr':{'class':'form-inline'}}) }}
    {{ form_widget(form.motCles,{'attr':{'class': 'searchform', 'placeholder':'Mots-Clés'}}) }}
    {{ form_widget(form.localite,{'attr':{'class': 'searchform', 'placeholder':'Localité'}}) }}
    {{ form_widget(form.categorie,{'attr':{'class': 'searchform input-small', }}) }}
    {{ form_widget(form.search,{'label':'Search'})}}
    {{ form_end(form) }}

</div><!-- /.header-search -->

{% endblock %}

{% block content %}



<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">

            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->

{% endblock %}
