{{ form_start(form) }}
<h3 class="page-title">
    Infos Globales

    {{ form_widget(form.enregistrer, {'attr':{'class':'btn-primary btn-xs pull-right'}}) }}
</h3>
<div class="row">

    {#{% if form.numTVA.get('errors') %}#}
        {#<div class="alert alert-error">#}
            {#{{ form_errors(form) }}#}
        {#</div>#}
    {#{% endif %}#}

    {% dump form %}



    <div class="form-group col-sm-6">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
    <div class="form-group col-sm-6">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-group col-sm-6">
        {{ form_label(form.siteInternet) }}
        {{ form_widget(form.siteInternet) }}
    </div>
    <div class="form-group col-sm-6">
        {{ form_label(form.emailContact) }}
        {{ form_widget(form.emailContact) }}
    </div>
    <div class="form-group col-sm-6">
        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone) }}
    </div>
    <div class="form-group col-sm-6">
        {{ form_label(form.numTVA) }}
        {{ form_widget(form.numTVA) }}
    </div>


    {#affichage adresse#}
    <div class="form-group col-sm-9">
        {{ form_label(form.adresseRue) }}
        {{ form_widget(form.adresseRue) }}
    </div>
    <div class="form-group col-sm-3">
        {{ form_label(form.adresseNum) }}
        {{ form_widget(form.adresseNum) }}
    </div>

    <div class="form-group col-sm-12">
        {{ form_label(form.localite) }}
        {{ form_widget(form.localite, {'attr':{'class':'col-sm-9'}}) }}
    </div>
    <div class="form-group col-sm-12">
        {{ form_label(form.logo) }}
        {{ form_widget(form.logo) }}
    </div>


    <div class="form-group col-sm-12">
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories) }}
        <a href="#" id="add_category" class="btn btn-primary btn-xs pull-right mt30">Proposer et ajouter une catégorie</a>
    </div>
    <div class="form-group col-sm-12">
        {{ form_label(form.newCategories) }}
        {{ form_widget(form.newCategories) }}
    </div>


    <div class="form-group col-sm-12">
        {{ form_label(form.photos) }}
        {{ form_widget(form.photos) }}
        <div class='clearfix'></div>
        <a href="#" id="add_photos" class="btn btn-primary btn-xs pull-right">Ajouter une Photos à la gallerie</a>
    </div>

</div>

{{ form_end(form) }}