{% extends "profil/profil_base.html.twig" %}


{% block imgProfil %}
    {% if utilisateur.logo is defined %}
        {{ utilisateur.logo.nom|tempDevImage }}
    {% else %}
        default_0.jpg
    {% endif %}
{% endblock %}
{% block txtModifImg %}Modifier mon logo{% endblock %}

{% block widgets %}
    <div class="widget">

        <div class="menu-advanced">
            <div> galerie photo</div>
        </div>
    </div><!-- /.widget -->
{% endblock %}

{% block menuOptions %}
    <li><a href="{{ path('stages') }}"><i class="fa fa-pencil"></i> Stages</a></li>
    <li><a href="{{ path('promos') }}"><i class="fa fa-pencil"></i> Promotions</a></li>
    {#TODO#}
    <li><a href="#"><i class="fa fa-pencil"></i> Commentaires</a></li>
{% endblock %}

{% block nomProfil %}
    <h1>{{ utilisateur.nom|capitalize }}
        <span>
                                        {# TODO#}
            *ici des étoiles*
            {#{% include 'lib/stars.html.twig' %}#}
            {#{{ (utilisateur.cote*5)|round(1,'floor') }} / 5#}
        </span><!-- /.card-row-rating -->

    </h1>

{% endblock %}

{% block form %}

    {% include 'lib/form/form_prestataire.html.twig' %}

{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/tetrabirk.js') }}" type="text/javascript"></script>

{% endblock %}

