{% extends "profil/profil_base.html.twig" %}

{% block imgProfil %}{{ app.user.logo.nom|tempDevImage }}{% endblock %}
{% block txtModifImg %}Modifier mon logo{% endblock %}

{% block widgets %}
    <div class="widget">

        <div class="menu-advanced">
            <div> galerie photo</div>
        </div>
    </div><!-- /.widget -->
{% endblock %}

{% block menuOptions %}
    <li><a href="{{ path('stages') }}"><i class="fa fa-pencil"></i> Stages</a></li>
    <li><a href="{{ path('promos') }}"><i class="fa fa-pencil"></i> Promotions</a></li>
    {#TODO#}
    <li><a href="#"><i class="fa fa-pencil"></i> Commentaires</a></li>
{% endblock %}

{% block nomProfil %}
    <h1>{{ app.user.nom|capitalize }}
        <span>
                                        {# TODO#}
            *ici des étoiles*
            {#{% include 'lib/stars.html.twig' %}#}
            {#{{ (app.user.cote*5)|round(1,'floor') }} / 5#}
        </span><!-- /.card-row-rating -->

    </h1>

{% endblock %}

{% block form %}

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}



