{% extends "profil/profil_base.html.twig" %}

{% block imgProfil %}{{ asset(utilisateur.logo|showImage)}}{% endblock %}

{% block widgets %}
    <div class="widget">

        <div class="menu-advanced">
            <a href="{{ path('prestataire',{'slug': utilisateur.slug}) }}" class="btn-primary"> Aller à ma page Prestataire</a>
        </div>
    </div><!-- /.widget -->
{% endblock %}

{% block menuOptions %}
    <li><a href="{{ path('stages') }}"><i class="fa fa-pencil"></i> Stages</a></li>
    <li><a href="{{ path('promotions') }}"><i class="fa fa-pencil"></i> Promotions</a></li>
    {#TODO#}
    <li><a href="{{ path('commentaires') }}"><i class="fa fa-pencil"></i> Commentaires</a></li>
{% endblock %}

{% block nomProfil %}
    <h1>{{ utilisateur.nom|capitalize }}
        <span>
                                        {# TODO#}
            *ici des étoiles*
            {#{% include 'lib/stars.html.twig' %}#}
            {#{{ (utilisateur.cote*5)|round(1,'floor') }} / 5#}
        </span><!-- /.card-row-rating -->

    </h1>

{% endblock %}

{% block form %}

    {% include 'lib/form/form_prestataire.html.twig' %}

{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/addCategToForm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/addPhotosToForm.js') }}" type="text/javascript"></script>

{% endblock %}

