{% extends "index.html.twig" %}



{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="user-photo">
                                    <a href="#">
                                        <img src="{{asset('img/')}}{% block imgProfil %}{% endblock %}" alt="User Photo">
                                        <span class="user-photo-action" >{% block txtModifImg %}{% endblock %}</span>
                                    </a>
                                </div><!-- /.user-photo -->
                            </div><!-- /.widget -->


                            <div class="widget">

                                <div class="menu-advanced">
                                    <div>Membre depuis le {{ utilisateur.Inscription|date('d-m-Y') }}</div>
                                    {% if utilisateur.confInscription == false %}
                                        <div><a class="btn-danger" href="#">Confirmer l'Adresse Email</a></div>
                                    {% endif %}
                                </div>
                            </div><!-- /.widget -->
                            {% block widgets %}

                            {% endblock %}
                            <div class="widget">
                                <ul class="menu-advanced">
                                    {% block menuOptions %}

                                    {% endblock %}
                                    <li class="active"><a href="{{ path('profil') }}"><i class="fa fa-user"></i> Modifier Profil</a></li>
                                    <li><a href="{{ path('mot_de_passe') }}"><i class="fa fa-key"></i> Mot de passe</a></li>
                                    <li><a href="{{ path('deconnexion') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                                    <li><a href="{{ path('profil_suppression') }}"><i class="fa fa-trash-o"></i> Supprimer le profil</a></li>
                                </ul>
                            </div><!-- /.widget -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="content">
                            <div class="page-title">
                                {% block nomProfil %}
                                {% endblock %}
                                {% block subTitle %}
                                {% endblock %}
                            </div><!-- /.page-title -->
                            {% block content_profil %}
                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Infos Globales

                                    <a href="#" class="btn btn-primary btn-xs pull-right">Enregistrer</a>
                                </h3>

                                <div class="row">

                                    {% block champsInfosGlobale %}

                                    {% endblock %}

                                </div><!-- /.row -->
                            </div>

                            <div class="background-white p20 mb30">
                                <h3 class="page-title">
                                    Contact

                                    <a href="#" class="btn btn-primary btn-xs pull-right">Enregistrer</a>
                                </h3>

                                <div class="row">

                                    {% block champsContactInfos %}

                                    {% endblock %}


                                    <div class="form-group col-sm-6">
                                        <label>Rue</label>
                                        <input type="text" class="form-control" value="{{ utilisateur.adresseRue}}">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        <label>Numéro</label>
                                        <input type="text" class="form-control" value="{{ utilisateur.adresseNum }}">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-3">
                                        <label>Code Postal</label>
                                        <input type="text" class="form-control" value="{{ utilisateur.codePostal }}">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        <label>Commune</label>
                                        <input type="text" class="form-control" value="{{ utilisateur.commune }}">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        <label>Localite</label>
                                        <input type="text" class="form-control" value="{{ utilisateur.localite }}">
                                    </div><!-- /.form-group -->

                                </div><!-- /.row -->
                            </div>
                            {% endblock %}

                        </div><!-- /.content -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}