{% extends "index.html.twig" %}

{% block title %}{{ prestataire.nom|capitalize }}{% endblock %}


{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-5">

                            <div class="background-white p20">
                                <div class="user-photo">
                                    <img src="{{ asset(prestataire.logo|showImage) }}"
                                         alt="User Photo">
                                </div>
                                <div class="page-title">
                                    <h1>{{ prestataire.nom }}</h1>
                                </div>

                                <div class="detail-overview-rating">
                                    {#TODO cote prestataire (add colonne dans DB)#}
                                    <i class="fa fa-star"></i> <strong>{{ 0.5*10 }} / 10</strong></a>
                                </div>

                                <div class="detail-overview-hearts">
                                    <i class="fa fa-heart"></i> <strong>??? </strong>personnes l'ont ajouté comme
                                    favoris
                                </div>


                            </div>
                            <div class="background-white p20 mt30">
                                <div class="detail-vcard">
                                    <div class="detail-contact">
                                        <div class="detail-contact-email">
                                            <i class="fa fa-envelope-o"></i> <a
                                                    href="mailto:{{ prestataire.emailContact|default('#') }}">{{ prestataire.emailContact|default("Non disponible") }}</a>
                                        </div>
                                        <div class="detail-contact-phone">
                                            <i class="fa fa-mobile-phone"></i> <a
                                                    href="tel:{{ prestataire.telephone|default('#') }}">{{ prestataire.telephone|default('Non disponible') }}</a>
                                        </div>
                                        <div class="detail-contact-website">
                                            <i class="fa fa-globe"></i> <a
                                                    href="{{ prestataire.siteInternet|default('#') }}">{{ prestataire.siteInternet|default("Non disponible") }}</a>
                                        </div>
                                        <div class="detail-contact-address">
                                            <i class="fa fa-map-o"></i>
                                            {{ prestataire.adresseRue|default("Non disponible")~', '~prestataire.adresseNum|default("") }}
                                            <br>
                                            {{ prestataire.localite.codePostal|default('')~' '~prestataire.localite.localite|default("") }}
                                        </div>
                                    </div><!-- /.detail-contact -->
                                </div><!-- /.detail-vcard -->

                                <div class="detail-description">
                                    {% for categorie in prestataire.categories %}
                                        <a href="{{ path('services',{'slug': categorie.slug}) }}">{{ categorie.nom|capitalize }}</a> ,
                                    {% endfor %}
                                </div>

                            </div>


                        </div><!-- /.col-sm-5 -->


                        <div class="col-sm-7">

                            {% include 'lib/gallery.html.twig' %}

                            {#TODO: faire pointé google map sur l'adresse#}
                            {% include ':lib/widget:google_map.html.twig' %}

                        </div><!-- /.col-sm-7 -->

                    </div>

                    <div class="row detail-content mt30">
                        <div class="col-sm-6">
                            <h2>Stages</h2>
                            {% include 'lib/list/stages_actif.html.twig' %}


                        </div>
                        <div class="col-sm-6">
                            <h2>Promotions</h2>
                            {% include ':lib/list:promotions_actif.html.twig' %}

                        </div>
                    </div>
                    {% include ':lib:commentaires.html.twig' with {'prest': prestataire} %}

                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}

{% block script %}

    {{ parent() }}
    <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false"
            type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset('libraries/jquery-google-map/infobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('libraries/jquery-google-map/markerclusterer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('libraries/jquery-google-map/jquery-google-map.js') }}"></script>

{% endblock %}