<div class="detail-gallery">

    {% if prestataire.photos is not empty %}

        {% set first = prestataire.photos|first %}
        <div class="detail-gallery-preview">
            <a href="{{ asset('img/') }}{{ first.nom|tempDevImage }}">
                <img src="{{ asset('img/') }}{{ first.nom|tempDevImage }}">
            </a>
        </div>


        <ul class="detail-gallery-index">
            {% for photo in prestataire.photos %}
            <li class="detail-gallery-list-item active mb30">
                <a data-target="{{ asset('img/') }}{{ photo.nom|tempDevImage }}">
                    <img src="{{ asset('img/') }}{{ photo.nom|tempDevImage }}" alt="...">
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div><!-- /.detail-gallery -->