{{ render(controller(
'AppBundle:Search:renderSearchBar'
)) }}

<ul class="header-nav-secondary nav nav-pills">
    {% if app.user %}
        <li><a href="{{ path( 'profil' ) }}">Profil</a></li>
        <li><a href="{{ path( 'deconnexion' ) }}">Déconnexion</a></li>
    {% elseif not app.user %}
        <li><a href="{{ path( 'connexion' ) }}">Connexion</a></li>
        <li><a href="{{ path( 'inscription' ) }}">Inscription</a></li>
    {% endif %}
</ul>

