{% extends "index.html.twig" %}

{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">


                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="page-title">
                                <h1>Inscription</h1>
                            </div><!-- /.page-title -->

                            {#<form method="post" action="?">#}

                            {#<div class="form-group">#}
                            {#<label for="typeUtilisateur">Je m'inscris en tant que :</label>#}
                            {#<div class="radio">#}
                            {#<input id="internaute" type="radio" name="typeUtilisateur" value="internaute" checked><label for="internaute">Internaute</label>#}
                            {#</div>#}
                            {#<div class="radio">#}
                            {#<input id="prestataire" type="radio" name="typeUtilisateur" value="prestataire"><label for="prestataire">Prestataire</label>#}
                            {#</div>#}
                            {#</div><!-- /.form-group -->#}
                            {#</form>#}

                            {{ form_start(form) }}
                            {{ form_label(form.type, "Je m'inscris en tant que :") }}

                            {{ form_widget(form.type, {'attr': {'class': 'radio'}}) }}
                            {% dump(form) %}
                            {{ form_row(form.email) }}
                            {{ form_row(form.motDePasse) }}

                            {{ form_end(form) }}
                        </div><!-- /.col-sm-4 -->
                    </div><!-- /.row -->

                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->


{% endblock %}